body{
    margin: 0;
}

.header{
    background-color: #3b5998;
    width: 100%;
    height: 85px;
}

.logo{
    width: 25%;
    height: 85px;
    float: left;
}

.login{
    width: 75%;
    height: 85px;
    float: left;
    color: white;
    padding-top: 20px;
}

#logo{
    width: 150px;
    float: right;
    padding-top: 12px;
}

.header_email_phone{
    height: 85px;
    float: left;
    padding-left: 500px;
}

.header_password{
    height: 85px;
    float: left;
    width: 15%;
    margin-left: 10px;
}

.header_login_button{
    float: left;
    width: 25%;
    margin-top: 18px;
}

.head_para{
    font-size: 13px;
    opacity: 50%;
}

#header_button{
    background-color: #4267b2;
    border: double;
    border-color: #29487d;
    color: white;
    cursor: pointer;
}

.graphics{
    width: 42%;
    padding-top: 15px;
    padding-left: 180px;
    float: left;
}

.login_body{
    float: left;
    padding-left: 50px;
}

.para{
    color: #091e72;
    font-weight: bolder;
    font-size: larger;
}

#firstname{
    width: 200px;
    height: 30px;
    color: #abadb7;
    font-size: 18px;
}

#surname{
    width: 200px;
    height: 30px;
    color: #abadb7;
    font-size: 18px;
}

#mobile_email{
    width: 412px;
    height: 30px;
    color: #abadb7;
    font-size: 18px;
}

#password{
    width: 412px;
    height: 30px;
    color: #abadb7;
    font-size: 18px;
}

#p1{
    font-size: x-large;
}

#birthday{
    font-size: 20px;
    color: #7b7c82;
}

.body{
    background-color: #e8eaef;
    width: 100%;
    height: 710px;
}

#create{
    font-size: 40px;
    font-weight: bold;
}

#select1{
    height: 25px;
}

#select2{
    height: 25px;
}

#select3{
    height: 25px;
}

.network_image{
    width: 100%;
    float: left;
    float: top;
}

.gen{
    font-size: 20px;
}

.terms-conditions{
    color: #7b7c82;
    font-size: 15px;
}

.submit-btn{
    background-color: rgb(80, 117, 63);
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border: 1.5px solid rgb(90, 115, 94);
}

.terms{
    text-decoration: none;
}

#page{
    font-weight: bold;
}